body {
  margin: 0 0;
}

.tooltip {
  position: absolute;
  padding: 4px 8px;
  background-color: white;
  font: 16px monospace;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  border-radius: 2px;
}

.searchbar {
  position: absolute;
  left: calc(50% - 300px);
  top: 16px;
}

.searchbar > input {
  width: 200px;
}

.color-by {
  position: absolute;
  left: calc(50% - 300px);
  top: 64px; 
}

#canvas {
  float: left;
}

#entry-canvas {
  float: left;
}

#read-info {
  float: left;
  padding: 4px 16px;
  max-width: 40vw;
  max-height: 99vh;
  overflow: scroll;
}